<ion-view view-title="CHeck out">
  <ion-content class="padding">
    <form name="myForm" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First name</span>
          <input type="text" name="fname" ng-model="user.fname" ng-minlength="3" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Last name</span>
          <input type="text" name="lname" ng-model="user.lname" ng-minlength="3" required>
        </label>
        <label class="item item-input">
          <span class="input-label">e mail</span>
          <input type="email" name="email" ng-model="user.email" ng-minlength="6" required>
        </label>
      </div>
      <div class="padding">
        <p ng-show="myForm.fname.$error.required">* Name is required</p>
        <p ng-show="myForm.fname.$error.minlength">* Name must be longer than 3 characters</p>

        <p ng-show="myForm.lname.$error.required">* Last name is required</p>
        <p ng-show="myForm.lname.$error.minlength">* Last name must be longer than 3 characters</p>

        <p ng-show="myForm.email.$error.required">* Last name is required</p>
        <p ng-show="myForm.email.$error.minlength">* Last name must be longer than 6 characters</p>
        <p ng-show="myForm.email.$invalid && !myForm.email.$pristine">* E mail must be a valid email address</p>
      </div>
      <div class="padding">
        <button type="button" class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="submit()">Submit</button>
      </div>
    </form>
  </ion-content>
</ion-view>
